<div id="container" class="p-4 flex gap-4">

    <div id="puzzle" >

        <form [formGroup]="form" (keydown)="submitInWithEnter($event)">
            <div class="flex flex-row bg-default-ring w-min gap-1 rounded-lg">
                <div class="index-col">
                    <div *ngFor="let i of [].constructor(numOfCols); let colNo = index">
                        <p class="grid-index">{{colNo}}</p>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="index-row">
                        <div *ngFor="let i of [].constructor(numOfRows); let rowNo = index">
                            <p class="grid-index">{{rowNo}}</p>
                        </div>
                    </div>


                    <div *ngFor="let row of grid; let rowNo = index" class="row" [ngClass]="{'pb-2': rowNo % 3 == 2 }">
                        <div *ngFor="let cell of row; let colNo = index" [ngClass]="{'mr-2': colNo % 3 == 2 }">
                            <app-cell [skeleton]="loading" [focusedCellName]="focusedCellName" [cell]="grid[rowNo][colNo]"
                                formControlName="{{cell.name}}"></app-cell>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <h1 class="text-red-500" *ngIf="impossible">impossible to solve!</h1>
        <div class="flex justify-between">
            <div>
                <button [disabled]="loading" class="p-btn" (click)="solve()">Solve</button>
                <button [disabled]="loading" class="p-btn" (click)="next()">Next Step</button>
                <button [disabled]="loading" class="p-btn ml-2" (click)="logFormAndGrid()">log form & grid</button>
                <button [disabled]="loading" class="p-btn ml-2" (click)="removePossFromCol()">remove poss from col</button>
                <button [disabled]="loading" class="p-btn ml-2" (click)="reset()">Reset</button>
            </div>
            <button [disabled]="loading" class="p-btn ml-4" (click)="logPuzzleForTesting()">Log Puzzle</button>
        </div>


    </div>
    <div id="file-upload " class="w-full">

        <div class="flex items-center justify-center w-full">
            <label for="dropzone-file"
                class="flex flex-col items-center justify-center w-full  border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                        </path>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                            upload</span> and recognize Sudoku Puzzle</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">PNG or JPG</p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" (change)="upload($event)"/>
                
            </label>
        </div>
        <img width="50%" eight="60%" [src]="previewImageSrc" />
    </div>
</div>